.nav-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-h2 {
    font-weight: bold;
}

.nav-section > div {
    display: flex;
    justify-content: space-around;
}

.nav-left-div {
    width: 30%;
}

.nav-right-div {
    width: 70%;
}

.nav-right-div > nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

li, a {
    list-style-type: none;
    text-decoration: none;
    color: black;
}